.row {
    display: flex;
}
.container {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.content-left{
    flex:1;
    padding-left: 15px;
    padding-right: 15px;
}
.content-right{
    flex:2;
    padding-left: 15px;
    padding-right: 15px;
}
.content-right-menu{
margin-bottom: 15px;
}
.content-right-bottom{
    margin: 15px 0;
}
